.App{
  background-color: #242424;
  min-height: 100vh;
  width:100%;
}
/* .navbar-cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 88px;
  margin-top: 25px;
} */
.header
{
  justify-content: space-around;
  color: #3888c9;
  padding: 2.5% 2.5% 2.5% 2.5%;
}
.text{
  margin-right: 8%;
}
.caption-video{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}
.caption{
  display: flex;
  flex-direction: column;
}
.details{
  width: 40%;
  border: 0.1rem solid black;
  padding: 2%;
  border-radius: 5%;
  background-color:#151515;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.time{
  display: inline-block;
}
.end-time{
  display: block;
}
.video-player{
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  width: 50%;
  border: 0.1rem solid #151515;
  padding: 2%;
  background-color:#151515;
  height: 70vh;
}

.video-pause{
  width: 100%;
  border: 0.1rem solid #151515;
  padding: 1%;
  /* margin: 2%; */
  background-color:#151515;
  display: flex;
  flex-direction: column;
  height: 3vh;
}
.video{
  width: 60% ;
  height: 60vh;
  justify-content: center;
  align-items: center;

}
.typing{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.audio{
  display: flex;
  flex-direction: column;
  border: solid 0.5rem blue;
  color: white;
  height: 30vh;
  width: 100%;
}

@media(max-width:500px){
  .video{
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
  .audio{
    width: 100%;
    height: auto;
  }
}